<div class="profile-address__item">
	<h3 class="profile__item__title">Адреса листування</h3>
	<address class="profile__item__address">
		Оболонський проспект, буд.14-А, кв.59, м.Київ, 04205, Україна
		<i class="icon icons-edit profile-icons"></i>
	</address>

</div>
<div class="profile-address__item">
	<h3 class="profile__item__title">Адреса реєстрації</h3>
	<address class="profile__item__address">
		Оболонський проспект, буд.14-А, кв.59, м.Київ, 04205, Україна
		<i class="icon icons-edit profile-icons"></i>
	</address>
</div>