.contract-demoted {
	width: 100%;
}

.table-no-data {
	padding-top: 50px;
}

.contract-demoted p {
	padding: 45px 0 30px 0;
	color: #aeb2bb;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
}

.contract-demoted-img {
	width: 165px;
	height: 217px;
	margin-left: 50%;
	transform: translate(-50%, 0);
}

