.page_contracts_all{
	
}

.contracts_all{
	width: 100%;
}

.contracts_all_my{
	padding-top: 21px;
	padding-bottom: 20px;
	padding-left: 30px;
}

.contracts_all_img{
	width: 38px;
	height: 52px;
	border: 1px solid #d0d3da;
	background-color: #fafafa;
}

.contracts_all_title{
	padding-right: 29px;
	padding-top: 8px;
	color: #1a2235;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
}

.contracts_all_title_icon{
	
}

.contracts_all_info{
	
}

.contracts_all_icon_calendar{
	
}

.letter{
	
}

.contracts_all_icon_shield{
	
}

.contracts_all_junior{
	
}

.symbol{
	
}

.contracts_all_text{
	
}
