.page-title {

	&_title {
		color: #1a2235;
		font-size: 22px;
		font-weight: 500;
		line-height: 24px
	}

	&_sub-title {
		color: #1d6bb2;
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
	}
}

.profile-title {
	padding: 38px 65px 32px 30px;
}