<table class="polis-payments">
	<caption class="polis-payment-title">JU 0038193 (Виплата викупної)</caption>
	<tr class="polis-payments-header">
		<th class="year">Pik</th>
		<th class="tipe">Тип</th>
		<th class="date-plan">Дата планового платежу</th>
		<th class="currency">Валюта полісу</th>
		<th class="plan-payment">Плановий платіж</th>
		<th class="fact-payment">Фактичний платіж</th>
		<th class="paid">Сплачено у грн</th>
		<th class="equivalent">Еквівалент</th>
	</tr>
	<tr class="polis-payments-row">
		<td>1</td>
		<td>Внесок</td>
		<td>30.06.2008</td>
		<td>USD</td>
		<td>250,00</td>
		<td>27.06.2008</td>
		<td>1 212,22</td>
		<td>250,00</td>
	</tr>
	<tr class="polis-payments-row">
		<td>1</td>
		<td>Внесок</td>
		<td>31.12.2008</td>
		<td>USD</td>
		<td>250,00</td>
		<td>26.12.2008</td>
		<td>1 947,50</td>
		<td>250,00</td>
	</tr>
	<tr class="polis-payments-row">
		<td>2</td>
		<td>Внесок</td>
		<td>30.06.2009</td>
		<td>USD</td>
		<td>250,00</td>
		<td>31.07.2009</td>
		<td>1 924,50</td>
		<td>250,00</td>
	</tr>
	<tr class="polis-payments-row">
		<td>2</td>
		<td>Внесок</td>
		<td>31.12.2009</td>
		<td>USD</td>
		<td>250,00</td>
		<td>30.12.2009</td>
		<td>1 992,13</td>
		<td>250,00</td>
	</tr>
	<tr class="polis-payments-row">
		<td>3</td>
		<td>Внесок</td>
		<td>30.06.2010</td>
		<td>USD</td>
		<td>250,00</td>
		<td>24.06.2010</td>
		<td>1 977,45</td>
		<td>250,00</td>
	</tr>
	<tr class="polis-payments-row">
		<td>3</td>
		<td>Внесок</td>
		<td>31.12.2010</td>
		<td>USD</td>
		<td>250,00</td>
		<td>26.01.2011</td>
		<td>1 984,70</td>
		<td>250,00</td>
	</tr>
	<tr class="polis-payments-row">
		<td>4</td>
		<td>Внесок</td>
		<td>30.06.2011</td>
		<td>USD</td>
		<td>250,00</td>
		<td>26.01.2011</td>
		<td>1 992,80 </td>
		<td>250,00</td>
	</tr>
</table>
