<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="_contracts_all.scss">
	<link rel="stylesheet" href="../../core/_reset.sass">
	<link rel="stylesheet" href="../../button/_button.scss">
</head>
<body>
	

	<div class="contracts_all">
	  	<div class="cntrs_all_my">
			<img src="../../../images/general/icon-doc.svg" alt="No" class="cntrs_img">
		    <div class="cntrs_text">
		   		<div class="cntrs_text_my">
			    	<h3 class="cntrs_text_title">Мій поліс</h3>
			    	<img src="../../../images/general/icons-edit.svg" alt="No" class="cntrs_text_icon">
		    	</div>
		    	<div class="cntrs_info">
			    	<info class="cntrs_info_info">JU 0038193</info>
			    	<img src="../../../images/general/icon-calendar.svg" alt="No" class="cntrs_info_calendar">
			    	<p class="cntrs_info_letter">з 01-07-2017</p>
			    	<img src="../../../images/general/icon-shield.svg" alt="No" class="cntrs_info_shield">
					<p class="cntrs_info_junior">ТАС-ЮНІОР</p>
					<img src="../../../images/general/status_payment.svg" alt="No">
					<p class="cntrs_info_status symbol">Виплата викупної</p>
			  	</div>
	    	</div>
	    	<div class="cntrs_button clearfix">
	    		<a href="#" class="cntrs_symbol" ></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
	  	</div>
		<div class="cntrs_all_my">
		    <img src="../../../images/general/icon-doc.svg" alt="No" class="cntrs_img">
	    	<div class="cntrs_text">
	   			<div class="cntrs_text_my">
		    		<h3 class="cntrs_text_title">Мій улюблений поліс</h3>
		    		<img src="../../../images/general/icons-edit.svg" alt="No" class="cntrs_text_icon">
	    		</div>
	    		<div class="cntrs_info">
		    		<info class="cntrs_info_info">JU 0054120</info>
		    		<img src="../../../images/general/icon-calendar.svg" alt="No" class="cntrs_info_calendar">
		    		<p class="cntrs_info_letter">з 01-08-2016</p>
		    		<img src="../../../images/general/icon-shield.svg" alt="No" class="cntrs_info_shield">
					<p class="cntrs_info_junior">ТАС-Пенсія</p>
					<img src="../../../images/general/status-valid.svg" alt="No">
					<p class="cntrs_info_status symbol">Дійсний</p>
		  		</div>
	      	</div>
	      	<div class="cntrs_button clearfix">
	    		<a href="#" class="cntrs_symbol" ></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
	    </div>
	    <div class="cntrs_all_my cntrs_all_invest">
		    <img src="../../../images/general/icon-lemons.svg" alt="No" class="cntrs_img_lemon">
	    	<div class="cntrs_text">
	   			<div class="cntrs_text_my">
		    		<h3 class="cntrs_text_title">Інвестуй сьогодні з лідером ринку!</h3>
	    		</div>
	    		<div class="cntrs_info">
		    		<info class="cntrs_info_text invest">Інвест</info>
		    		<img src="../../../images/general/icon-calendar-orange.svg" alt="No" class="cntrs_info_calendar">
		    		<p class="cntrs_info_invest_text">від 5 років</p>
		    		<img src="../../../images/general/icon-orange.svg" alt="No" class="cntrs_info_shield cntrs_shield">
					<p class="cntrs_info_junior invest">до 25% річних</p>
		  		</div>
	      	</div>
	      	<div class="cntrs_button clearfix">
	    		<a href="#" class="cntrs_symbol" ></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
		    <h4 class="vertical_text">Пропозиція</h4>
		</div>
	    <div class="cntrs_all_my">
		    <img src="../../../images/general/icon-doc.svg" alt="No" class="cntrs_img">
	    	<div class="cntrs_text">
	   			<div class="cntrs_text_my">
		    		<h3 class="cntrs_text_title">Старий поліс</h3>
		    		<img src="../../../images/general/icons-edit.svg" alt="No" class="cntrs_text_icon">
	    		</div>
	    		<div class="cntrs_info">
		    		<info class="cntrs_info_info">JU 0057938</info>
		    		<img src="../../../images/general/icon-calendar.svg" alt="No" class="cntrs_info_calendar">
		    		<p class="cntrs_info_letter">з 01-05-2008</p>
		    		<img src="../../../images/general/icon-shield.svg" alt="No" class="cntrs_info_shield">
					<p class="cntrs_info_junior">ТАС-ЮНІОР</p>
					<img src="../../../images/general/status-ruptured.svg" alt="No">
					<p class="cntrs_info_status symbol">Розірваний</p>
		  		</div>
	      	</div>
	      	<div class="cntrs_button clearfix">
	    		<a href="#" class="cntrs_symbol" ></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
	    </div>
	</div>
</body>
</html>