	<div class="contracts_all">
	  	<div class="cntrs_all_my">
			<i class="icon icon-icon-doc cntrs_img"></i>
		    <div class="cntrs_text">
		   		<div class="cntrs_text_my">
			    	<h3 class="cntrs_text_title">Мій поліс</h3>
			    	<a href="#"><i class="icon icon-icons-edit cntrs_text_icon"></i></a>
		    	</div>
		    	<div class="cntrs_info">
			    	<info class="cntrs_info_info">JU 0038193</info>
			    	<i class="icon icon-icon-calendar cntrs_info_calendar"></i>
			    	<p class="cntrs_info_letter">з 01-07-2017</p>
			    	<i class="icon icon-icon-shield2 cntrs_info_shield"></i>
					<p class="cntrs_info_junior">ТАС-ЮНІОР</p>
					<i class="icon icon-status_payment cntrs_status_payment"></i>
					<p class="cntrs_info_status symbol">Виплата викупної</p>
			  	</div>
	    	</div>
	    	<div class="cntrs_button clearfix">
	    		<a href="#"><i class="icon icon-icon-next cntrs_symbol"></i></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
	  	</div>
		<div class="cntrs_all_my">
		    <i class="icon icon-icon-doc cntrs_img"></i>
	    	<div class="cntrs_text">
	   			<div class="cntrs_text_my">
		    		<h3 class="cntrs_text_title">Мій улюблений поліс</h3>
		    		<a href="#"><i class="icon icon-icons-edit cntrs_text_icon"></i></a>
	    		</div>
	    		<div class="cntrs_info">
		    		<info class="cntrs_info_info">JU 0054120</info>
		    		<i class="icon icon-icon-calendar cntrs_info_calendar"></i>
		    		<p class="cntrs_info_letter">з 01-08-2016</p>
		    		<i class="icon icon-icon-shield2 cntrs_info_shield"></i>
					<p class="cntrs_info_junior">ТАС-Пенсія</p>
					<i class="icon icon-status-valid cntrs_status_payment"></i>
					<p class="cntrs_info_status symbol">Дійсний</p>
		  		</div>
	      	</div>
	      	<div class="cntrs_button clearfix">
	    		<a href="#"><i class="icon icon-icon-next cntrs_symbol"></i></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
	    </div>
	    <div class="cntrs_all_my cntrs_all_invest">
		    <i class="icon icon-icon-lemons cntrs_img_lemon"></i>
	    	<div class="cntrs_text">
	   			<div class="cntrs_text_my">
		    		<h3 class="cntrs_text_title">Інвестуй сьогодні з лідером ринку!</h3>
	    		</div>
	    		<div class="cntrs_info">
		    		<p class="cntrs_info_junior invest">Інвест</p>
		    		<i class="icon icon-icon-calendar cntrs_info_calendar"></i>
		    		<p class="cntrs_info_invest_text">від 5 років</p>
		    		<i class="icon icon-icon-orange cntrs_info_shield"></i>
					<p class="cntrs_info_junior invest">до 25% річних</p>
		  		</div>
	      	</div>
	      	<div class="cntrs_button clearfix">
	    		<a href="#"><i class="icon icon-icon-next cntrs_symbol"></i></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
		    <div class="vertical_text">
		    	<h4 class="vertical_text_title">Пропозиція</h4>
		    </div>
		</div>
	    <div class="cntrs_all_my">
		    <i class="icon icon-icon-doc cntrs_img"></i>
	    	<div class="cntrs_text">
	   			<div class="cntrs_text_my">
		    		<h3 class="cntrs_text_title">Старий поліс</h3>
		    		<a href="#"><i class="icon icon-icons-edit cntrs_text_icon"></i></a>
	    		</div>
	    		<div class="cntrs_info">
		    		<info class="cntrs_info_info">JU 0057938</info>
		    		<i class="icon icon-icon-calendar cntrs_info_calendar"></i>
		    		<p class="cntrs_info_letter">з 01-05-2008</p>
		    		<i class="icon icon-icon-shield2 cntrs_info_shield"></i>
					<p class="cntrs_info_junior">ТАС-ЮНІОР</p>
					<i class="icon icon-status-ruptured cntrs_status_payment"></i>
					<p class="cntrs_info_status symbol">Розірваний</p>
		  		</div>
	      	</div>
	      	<div class="cntrs_button clearfix">
	    		<a href="#"><i class="icon icon-icon-next cntrs_symbol"></i></a>
	    		<button class="button_market button_basket"></button>
	    	</div>
	    </div>
	</div>
