<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="footer.sass">
</head>
<body>
	


	<footer>

		<div class="row_footer">
		
			<h3 class="text_footer">© Project VX, 2017</h3>

			<div class="logos_footer">

					<img src="icon-facebook.svg" alt="" class="icon_footer icon-facebook">

					<img src="icon-twitter.svg" alt="" class="icon_footer icon-twitter">

					<img src="icon-youtube.svg" alt="" class="icon_footer icon-youtube">

			</div>


		</div>

			


	</footer>
	
</body>
</html>