/* Icons from directory "" */
.icon-icon-arrow-left,.icon-icon-arrow-left\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-icon-arrow-left-dims{width:9px;height:16px}
.icon-icon-arrow-right,.icon-icon-arrow-right\:regular{background-image:url('icons/icons.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-icon-arrow-right-dims{width:9px;height:16px}
.icon-icon-attach,.icon-icon-attach\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-icon-attach-dims{width:27px;height:25px}
.icon-icon-calendar-orange,.icon-icon-calendar-orange\:regular{background-image:url('icons/icons.svg');background-position:0 -57px;background-repeat:no-repeat}
.icon-icon-calendar-orange-dims{width:13px;height:11px}
.icon-icon-calendar,.icon-icon-calendar\:regular{background-image:url('icons/icons.svg');background-position:0 -68px;background-repeat:no-repeat}
.icon-icon-calendar-dims{width:13px;height:11px}
.icon-icon-collapse-block-left,.icon-icon-collapse-block-left\:regular{background-image:url('icons/icons.svg');background-position:0 -79px;background-repeat:no-repeat}
.icon-icon-collapse-block-left-dims{width:12px;height:14px}
.icon-icon-collapse-block-right,.icon-icon-collapse-block-right\:regular{background-image:url('icons/icons.svg');background-position:0 -93px;background-repeat:no-repeat}
.icon-icon-collapse-block-right-dims{width:12px;height:14px}
.icon-icon-doc,.icon-icon-doc\:regular{background-image:url('icons/icons.svg');background-position:0 -107px;background-repeat:no-repeat}
.icon-icon-doc-dims{width:39px;height:53px}
.icon-icon-doc2,.icon-icon-doc2\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-icon-doc2-dims{width:26px;height:34px}
.icon-icon-download,.icon-icon-download\:regular{background-image:url('icons/icons.svg');background-position:0 -194px;background-repeat:no-repeat}
.icon-icon-download-dims{width:20px;height:16px}
.icon-icon-email,.icon-icon-email\:regular{background-image:url('icons/icons.svg');background-position:0 -210px;background-repeat:no-repeat}
.icon-icon-email-dims{width:23px;height:23px}
.icon-icon-flag-blue,.icon-icon-flag-blue\:regular{background-image:url('icons/icons.svg');background-position:0 -233px;background-repeat:no-repeat}
.icon-icon-flag-blue-dims{width:38px;height:62px}
.icon-icon-flag-red,.icon-icon-flag-red\:regular{background-image:url('icons/icons.svg');background-position:0 -295px;background-repeat:no-repeat}
.icon-icon-flag-red-dims{width:38px;height:62px}
.icon-icon-flag-ua,.icon-icon-flag-ua\:regular{background-image:url('icons/icons.svg');background-position:0 -357px;background-repeat:no-repeat}
.icon-icon-flag-ua-dims{width:16px;height:16px}
.icon-icon-hide,.icon-icon-hide\:regular{background-image:url('icons/icons.svg');background-position:0 -373px;background-repeat:no-repeat}
.icon-icon-hide-dims{width:21px;height:13px}
.icon-icon-lemons,.icon-icon-lemons\:regular{background-image:url('icons/icons.svg');background-position:0 -386px;background-repeat:no-repeat}
.icon-icon-lemons-dims{width:43px;height:28px}
.icon-icon-link,.icon-icon-link\:regular{background-image:url('icons/icons.svg');background-position:0 -414px;background-repeat:no-repeat}
.icon-icon-link-dims{width:30px;height:28px}
.icon-icon-location,.icon-icon-location\:regular{background-image:url('icons/icons.svg');background-position:0 -442px;background-repeat:no-repeat}
.icon-icon-location-dims{width:21px;height:31px}
.icon-icon-lock,.icon-icon-lock\:regular{background-image:url('icons/icons.svg');background-position:0 -473px;background-repeat:no-repeat}
.icon-icon-lock-dims{width:33px;height:39px}
.icon-icon-market-orange,.icon-icon-market-orange\:regular{background-image:url('icons/icons.svg');background-position:0 -512px;background-repeat:no-repeat}
.icon-icon-market-orange-dims{width:47px;height:41px}
.icon-icon-market-white,.icon-icon-market-white\:regular{background-image:url('icons/icons.svg');background-position:0 -553px;background-repeat:no-repeat}
.icon-icon-market-white-dims{width:47px;height:35px}
.icon-icon-market,.icon-icon-market\:regular{background-image:url('icons/icons.svg');background-position:0 -588px;background-repeat:no-repeat}
.icon-icon-market-dims{width:47px;height:41px}
.icon-icon-mobile,.icon-icon-mobile\:regular{background-image:url('icons/icons.svg');background-position:0 -629px;background-repeat:no-repeat}
.icon-icon-mobile-dims{width:22px;height:36px}
.icon-icon-mobile2,.icon-icon-mobile2\:regular{background-image:url('icons/icons.svg');background-position:0 -665px;background-repeat:no-repeat}
.icon-icon-mobile2-dims{width:22px;height:36px}
.icon-icon-next,.icon-icon-next\:regular{background-image:url('icons/icons.svg');background-position:0 -701px;background-repeat:no-repeat}
.icon-icon-next-dims{width:11px;height:20px}
.icon-icon-ok,.icon-icon-ok\:regular{background-image:url('icons/icons.svg');background-position:0 -721px;background-repeat:no-repeat}
.icon-icon-ok-dims{width:10px;height:12px}
.icon-icon-orange,.icon-icon-orange\:regular{background-image:url('icons/icons.svg');background-position:0 -733px;background-repeat:no-repeat}
.icon-icon-orange-dims{width:11px;height:11px}
.icon-icon-pass,.icon-icon-pass\:regular{background-image:url('icons/icons.svg');background-position:0 -744px;background-repeat:no-repeat}
.icon-icon-pass-dims{width:15px;height:20px}
.icon-icon-play,.icon-icon-play\:regular{background-image:url('icons/icons.svg');background-position:0 -764px;background-repeat:no-repeat}
.icon-icon-play-dims{width:21px;height:22px}
.icon-icon-select-sm,.icon-icon-select-sm\:regular{background-image:url('icons/icons.svg');background-position:0 -786px;background-repeat:no-repeat}
.icon-icon-select-sm-dims{width:8px;height:4px}
.icon-icon-select,.icon-icon-select\:regular{background-image:url('icons/icons.svg');background-position:0 -790px;background-repeat:no-repeat}
.icon-icon-select-dims{width:12px;height:6px}
.icon-icon-send,.icon-icon-send\:regular{background-image:url('icons/icons.svg');background-position:0 -796px;background-repeat:no-repeat}
.icon-icon-send-dims{width:12px;height:20px}
.icon-icon-shield,.icon-icon-shield\:regular{background-image:url('icons/icons.svg');background-position:0 -816px;background-repeat:no-repeat}
.icon-icon-shield-dims{width:9px;height:11px}
.icon-icon-show,.icon-icon-show\:regular{background-image:url('icons/icons.svg');background-position:0 -827px;background-repeat:no-repeat}
.icon-icon-show-dims{width:21px;height:11px}
.icon-icon-triangle-part-left,.icon-icon-triangle-part-left\:regular{background-image:url('icons/icons.svg');background-position:0 -838px;background-repeat:no-repeat}
.icon-icon-triangle-part-left-dims{width:163px;height:167px}
.icon-icon-triangle-part-right,.icon-icon-triangle-part-right\:regular{background-image:url('icons/icons.svg');background-position:0 -1005px;background-repeat:no-repeat}
.icon-icon-triangle-part-right-dims{width:163px;height:167px}
.icon-icon-user,.icon-icon-user\:regular{background-image:url('icons/icons.svg');background-position:0 -1172px;background-repeat:no-repeat}
.icon-icon-user-dims{width:25px;height:31px}
.icon-icons-edit,.icon-icons-edit\:regular{background-image:url('icons/icons.svg');background-position:0 -1203px;background-repeat:no-repeat}
.icon-icons-edit-dims{width:12px;height:12px}
.icon-status-ruptured,.icon-status-ruptured\:regular{background-image:url('icons/icons.svg');background-position:0 -1215px;background-repeat:no-repeat}
.icon-status-ruptured-dims{width:11px;height:11px}
.icon-status-valid,.icon-status-valid\:regular{background-image:url('icons/icons.svg');background-position:0 -1226px;background-repeat:no-repeat}
.icon-status-valid-dims{width:11px;height:11px}
.icon-status_payment,.icon-status_payment\:regular{background-image:url('icons/icons.svg');background-position:0 -1237px;background-repeat:no-repeat}
.icon-status_payment-dims{width:11px;height:11px}