.clearfix::after,
.header-shadow::after {
	content: '';
	overflow: hidden;
	display: block;
	clear: both;
}

.site-header {
	font-family: Roboto;
	font-size: 16px;
	padding: 10px 0;
}

.header-shadow {
	box-shadow: 0 6px 10px rgba(0,0,0,.08);
	padding: 0 0 10px 17px;
	position: relative;
}

.header-logo {
	float: left;
	vertical-align: middle;
	min-width: 107px;
}



.header-search {
	float: left;
	vertical-align: middle;
	box-sizing: border-box;
    padding: 0 10px;
    white-space: nowrap;
}

.header-btn-search {
	border: none;
    background-color: transparent;
	background: url(../images/header/icon-search.svg) 0 center no-repeat;
	width: 27px;
    height: 27px;
   	display: inline-block;
    vertical-align: middle;
}

.header-search-form {
	border: none;
	width: 94%;
	height: 38px;
}




.header-guest {
	float: right;
	vertical-align: middle;
	width: 25%;
	right: 0;
	min-width: 225px;
	white-space: nowrap;
}

	.icon-guest {
		background: url(../images/header/icon-guest2.svg) 0 center no-repeat;
		width: 42px;
		height: 42px;
		display: inline-block;
		vertical-align: middle;
	}



	.name-guest {
		color: #939497;
		display: inline-block;
		vertical-align: middle;
	    padding-right: 12%;
	    padding-left: 10px;

	}

	.name-guest2 {
		color: #1d6bb2;
	}

	.icon-notification {
		background: url(../images/header/icon-notification.svg) 0 center no-repeat;
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
	}