.clearfix::after,
.header-in::after {
    content: '';
    overflow: hidden;
    display: block;
    clear: both;
}

.header {
    position: relative;
    z-index: 1;
    font-family: Roboto;
    font-size: 16px;
    padding: 10px 16px 18px 31px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08);
}

.header-in {
    position: relative;
    line-height: 52px;
}

.header__logo {
    float: left;
    vertical-align: middle;
    background: url(../../../pic/logo.png) 0 center no-repeat;
    min-width: 107px;
    height: 42px;
    display: inline-block;
}

.header-search {
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0 10px;
    white-space: nowrap;
}

.header-btn-search {
    border: none;
    background-color: transparent;
    width: 27px;
    height: 27px;
    vertical-align: text-top;
}

.header-search-form {
    border: none;
    width: 94%;
    height: 38px;
}

::-webkit-input-placeholder {
    color:$grey-light-color;
    font-size: 16px;
}

::-moz-placeholder {
    color:$grey-light-color;
    font-size: 16px;
}

:-moz-placeholder {
    color:$grey-light-color;
    font-size: 16px;
}

:-ms-input-placeholder {
    color:$grey-light-color;
    font-size: 16px;
}

.header-user {
	margin-top: 10px;
    float: right;
    line-height: 1;
    right: 0;
    min-width: 225px;
    white-space: nowrap;
}

.icon-user {
    background: url(../../../pic/header-user_pic.png) 0 center no-repeat;
    width: 42px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
}

.name-user {
    color: #939497;
    display: inline-block;
    vertical-align: middle;
    padding-right: 16px;
    padding-left: 10px;
}

.name-user2 {
    color: #1d6bb2;
}

.icon-notification {
    width: 40px;
    height: 40px;
    background-position: center;
}


	.icon-guest {
		background-color: #e1e2e9;
        background-size: contain;
		width: 42px;
		height: 42px;
		display: inline-block;
		vertical-align: middle;
	}
