<header class="site-header">
	<div class="header-shadow">
		
		<img src="images\header\logo.png" class="header-logo">

		<div class="header-search">
			<input type="submit" class="header-btn-search" value="">
			<input type="search" placeholder="Пошук" class="header-search-form">
		</div>

		

		<div class="header-guest">
			<div class="icon-guest"></div>
			<p class="name-guest">
				Вітаємо, Гість!<br>
				<a href="#" class="name-guest2">Авторизуватися</a>			
			</p>
			<div class="icon-notification"></div>
		</div>
	</div>
</header>


