<header class="header">
	<div class="header-in">
		
		<img src="../../../pic/logo.png" class="header-logo">

		<div class="header-search">
			<input type="submit" class="icon icon-icon-search header-btn-search" value="">
			<input type="search" placeholder="Пошук" class="header-search-form">
		</div>

		<div class="header-user">
			<i class="icon-icon-guest icon-guest"></i>
			<p class="name-user">
				Вітаємо, Гість!<br>
				<a href="#"  class="name-user2">Авторизуватися</a>			
			</p>
			<i class="icon icon-icon-notification icon-notification"></i>
		</div>
	</div>
</header>
