<header class="header">
    <div class="header-in">
        <a href="index.html" class="header__logo"></a>
        <div class="header-search">
            <input type="submit" class="icon icon-icon-search header-btn-search" value="">
            <input type="search" placeholder="Пошук" class="header-search-form">
        </div>
        
        <div class="header-user">
            <a class="icon-user" href="my-profile.html"></a>
            <p class="name-user">
                Вітаємо, Оксано!
                <br>
                <a href="index.html"  class="name-user2">Вийти з кабінету</a>
            </p>
            <a href="chat.html">
                <i class="icon icon-icon-notification icon-notification"></i>
            </a>
        </div>
    </div>
</header>
