<header class="header">
    <div class="header-in">
        <img src="images\header\logo.png" class="header-logo">
        <div class="header-search">
            <input type="submit" class="header-btn-search" value="">
            <input type="search" placeholder="Пошук" class="header-search-form">
        </div>
        
        <div class="header-user">
            <a class="icon-user" href="my-profile.html"></a>
            <p class="name-user">
                Вітаємо, Оксано!
                <br>
                <a href="#"  class="name-user2">Вийти з кабінету</a>
            </p>
            <a class="icon-notification" href="chat.html"></a>
        </div>
    </div>
</header>
