<section class="profile_section">
	<div class="profile-contacts__item">
		<h3 class="profile__item__title">Телефон</h3>
		<div class="profile-contacts__phone-number icon-icon-mobile">
			<a href="tel:+380671234567 " class="profile-contacts-link">+380 (67) 123-45-67 </a>
			<i class="icon icon-icons-edit profile-icons"></i>
			<p class="profile-contacts-text">Мобільний</p>
		</div><br>
		<div class="profile-contacts__phone-number profile-contacts-disable icon-icon-mobile">
			<a href="tel:+380671234567 " class="profile-contacts-link">380 (xx) xxx-xx-xx </a>
			<i class="icon icon-icons-edit profile-icons"></i>
			<p class="profile-contacts-text">Робочий</p>
		</div><br>
		<div class="profile-contacts__phone-number profile-contacts__contact-number icon-icon-mobile2">
			<a href="tel:+380671234567 " class="profile-contacts-link">+380 (67) 123-45-67 </a>
			<i class="icon icon-icons-edit profile-icons"></i>
			<p class="profile-contacts-text">Контактний</p>
		</div>
	</div>
	<div class="profile-contacts__item">
		<h3 class="profile__item__title">Email</h3>
		<div class="profile-contacts__email">
			<div class="profile-contacts__email_link">
				<a href="mailto:my.email75@gmail.com " class="profile-contacts-link">my.email75@gmail.com </a>
				<i class="icon-icon-email"></i>
			</div>
			<i class="icon icon-icon-ok profile-icons"></i>
		</div><br>
		<div class="profile-contacts__email profile-contacts-disable">
			<div class="profile-contacts__email_link">
				<a href="mailto:my.email75@gmail.com " class="profile-contacts-link">xxxxxxxx@xxx.xxx </a>
				<p class="profile-contacts-text">Додатковий e-mail</p>
				<i class="icon-icon-email"></i>
			</div>
			<i class="icon icon-icons-edit profile-icons"></i>		
		</div>
	</div>
</section>