<div class="profile-contacts__item">
	<h3 class="profile__item__title">Телефон</h3>
	<div class="profile-contacts__phone-number">
		<a href="tel:+380671234567 " class="profile-contacts-link">+380 (67) 123-45-67 </a>
		<i class="icon icons-edit profile-icons"></i>
		<p class="profile-contacts-text">Мобільний</p>
	</div>
	<div class="profile-contacts__phone-number profile-contacts-disable">
		<a href="tel:+380671234567 " class="profile-contacts-link">380 (xx) xxx-xx-xx </a>
		<i class="icon icons-edit profile-icons"></i>
		<p class="profile-contacts-text">Робочий</p>
	</div>
	<div class="profile-contacts__phone-number profile-contacts__contact-number">
		<a href="tel:+380671234567 " class="profile-contacts-link">+380 (67) 123-45-67 </a>
		<i class="icon icons-edit profile-icons"></i>
		<p class="profile-contacts-text">Контактний</p>
	</div>
</div>
<div class="profile-contacts__item">
	<h3 class="profile__item__title">Email</h3>
	<div class="profile-contacts__email">
		<a href="mailto:my.email75@gmail.com " class="profile-contacts-link">my.email75@gmail.com </a>
		<i class="icon icon-ok profile-icons"></i>
	</div>
	<div class="profile-contacts__email profile-contacts-disable">
		<a href="mailto:my.email75@gmail.com " class="profile-contacts-link">xxxxxxxx@xxx.xxx </a>
		<i class="icon icons-edit profile-icons"></i>
		<p class="profile-contacts-text">Додатковий e-mail</p>
	</div>
</div>