.my-polis-bonuses {

	&-chart {
		padding: 36px 30px 25px;
		margin: 0 auto;
	}

	.polis-payments {
		margin-bottom: 30px;

		&-row {
			background-color: white;
		}
	}
}

h3[class="polis-payment-title"] {
	text-align: center;
}

.chart {
	width: 100%;
}