.my-polis-bonuses {

	&-chart {
		padding: 36px 30px 25px;
		margin: 0 auto;
	}
}

h3[class="polis-payment-title"] {
	text-align: center;
}

.chart {
	width: 100%;
}

.polis-payments {
	padding-bottom: 30px;

	&-row {
		background-color: white;
	}
}

