<section class="my-polis-bonuses">
	<h3 class="polis-payment-title">Історія нарахованих бонусів, USD</h3>
	<div class="my-polis-bonuses-chart">
		<img src="../../../pic/chart.png" class="chart">
	</div>
	<table class="polis-payments">
		<caption class="polis-payment-title">Страхова сума з урахуванням бонусів</caption>
		<tr class="polis-payments-header">
			<th class="year">Ризик</th>
			<th class="tipe">Ризик для</th>
			<th class="date-plan">Страхова сума (з урахуванням всіх бонусів)</th>
		</tr>
		<tr class="polis-payments-row">
			<td>Дожиття</td>
			<td>Застрахована особа</td>
			<td>3 595,03</td>
		</tr>
	</table>
</section>