@import "core/_reset.sass";
@import "core/_base.sass";
@import "core/_main.sass";

@import "components/_components.scss";
@import "blocks/_blocks.scss";
@import "chat/_chat.scss";
@import "profile/profile-header/_profile-header.scss";
@import "sign-in/sign-in-form/_sign-in-form.scss";
@import "sign-in/sign-in-news/_sign-in-news.scss"; 

.container {
	float: right;
    width: calc(100% - 260px);
    min-height: 100%;
    position: relative;
    transition: width 0.3s ease;

    &_content {
    	padding-bottom: 60px;
    }
}

.container.container-closed-m {
	width: calc(100% - 50px);
}