<section class="menu">
	<div class="main-menu">
		<a href="#" class="slide-menu-togle">
		   <i class="icon icon-icon-more slide-menu-icon"></i>
	   </a>
		<nav class="slide-menu">
			<a href="contracts.html" class="slide-menu-item">
			   <i class="icon icon-icon-home slide-menu-item-icon"></i>
			   Головна
			 </a>
			<a href="polis.html" class="slide-menu-item">
			   <i class="icon icon-icon-shield slide-menu-item-icon"></i>
			   Поліси
			 </a>
			<a href="#" class="slide-menu-item">
			   <i class="icon icon-icon-umbrella slide-menu-item-icon"></i>
			   Страхування
			 </a>
			<a href="#" class="slide-menu-item">
			   <i class="icon icon-icon-smth slide-menu-item-icon"></i>
			   Пенсія
			 </a>
			<a href="#" class="slide-menu-item">
			   <i class="icon icon-icon-chart slide-menu-item-icon"></i>
			   Інвестиції
			 </a>
			<a href="#" class="slide-menu-item">
			   <i class="icon icon-icon-atom slide-menu-item-icon"></i>
			   Навчання
			 </a>
		</nav>
		<div class="slide-menu-contacts">
			<a href="tel:0800500123" class="slide-menu-contacts-phone">
				<pre>0 800 500 123</pre>
			</a>
			<a href="#" class="slide-menu-contacts-item">
				<i class="icon icon-icon-skype slide-menu-contacts-icon"></i>
			</a>
			<a href="#" class="slide-menu-contacts-item">
				<i class="icon icon-icon-consultant slide-menu-contacts-icon"></i>
			</a>
			<a href="#" class="slide-menu-contacts-item">
				<i class="icon icon-icon-email2 slide-menu-contacts-icon"></i>
			</a>
		</div>
	</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/js.js"></script>