<section class="menu">
	<div class="main-menu">
		<a href="#" class="slide-menu-togle">
		   <img src="images/menu/icon-more.svg" alt="" class="slide-menu-icon">
	   </a>
		<nav class="slide-menu">
			<a href="#" class="slide-menu-item">
			   <img src="images/menu/icon-home.svg" alt="" class="slide-menu-item-icon">
			   Головна
			 </a>
			<a href="#" class="slide-menu-item">
			   <img src="images/menu/icon-shield.svg" alt="" class="slide-menu-item-icon">
			   Поліси
			 </a>
			<a href="#" class="slide-menu-item">
			   <img src="images/menu/icon-umbrella.svg" alt="" class="slide-menu-item-icon">
			   Страхування
			 </a>
			<a href="#" class="slide-menu-item">
			   <img src="images/menu/icon-smth.svg" alt="" class="slide-menu-item-icon">
			   Пенсія
			 </a>
			<a href="#" class="slide-menu-item">
			   <img src="images/menu/icon-chart.svg" alt="" class="slide-menu-item-icon">
			   Інвестиції
			 </a>
			<a href="#" class="slide-menu-item">
			   <img src="images/menu/icon-atom.svg" alt="" class="slide-menu-item-icon">
			   Навчання
			 </a>
		</nav>
		<div class="slide-menu-contacts">
			<a href="tel:0800500123" class="slide-menu-contacts-phone">
				<pre>0 800 500 123</pre>
			</a>
			<a href="#" class="slide-menu-contacts-item">
				<img src="images/menu/help/skype.svg" alt="" class="slide-menu-contacts-icon">
			</a>
			<a href="#" class="slide-menu-contacts-item">
				<img src="images/menu/help/icon-consultant.svg" alt="" class="slide-menu-contacts-icon">
			</a>
			<a href="#" class="slide-menu-contacts-item">
				<img src="images/menu/help/icon-email2.svg" alt="" class="slide-menu-contacts-icon">
			</a>
		</div>
	</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/js.js"></script>