<section class="my-polis-terms">
	<div class="my-polis-terms_item">
		<h4>Строк дії договору</h4>
		<img src="hackathon/pic/my-polis-terms1.svg" alt="" class="my-polis-terms_img">
	</div>
	<div class="my-polis-terms_item">
		<h4>Страхувальник</h4>
		<table class="my-polis-terms_table">
			<tr class="my-polis-terms_tr-h">
				<td>ПІБ</td>
				<td>Дата народження</td>
				<td>Адреса реєстрації</td>
				<td>Адреса листування</td>
			</tr>
			<tr>
				<td>Іваненко Оксана Ігорівна</td>
				<td>27.03.1980</td>
				<td>Оболонський проспект, буд.4-А,<br>кв.43, м.Київ, 04205, Україна</td>
				<td>Оболонський проспект, буд.4-А,<br>кв.43, м.Київ, 04205, Україна</td>
			</tr>
		</table>
	</div>
	<div class="my-polis-terms_item">
		<h4>Застрахований</h4>
		<table class="my-polis-terms_table">
			<tr class="my-polis-terms_tr-h">
				<td>ПІБ</td>
				<td>Дата народження</td>
				<td>Адреса реєстрації</td>
				<td>Адреса листування</td>
			</tr>
			<tr>
				<td>Петренко Олена Олегівна</td>
				<td>10.12.2004</td>
				<td>вул.Малиновського, буд.78-А,<br>кв.67, м.Київ, 04212, Україна</td>
				<td>вул.Малиновського, буд.78-А,<br>кв.67, м.Київ, 04212, Україна</td>
			</tr>
		</table>
	</div>
	<div class="my-polis-terms_item">
		<h4>Страховий внесок</h4>
		<img src="hackathon/pic/my-polis-terms2.svg" alt="" class="my-polis-terms_img">
	</div>
	<div class="my-polis-terms_item">
		<h4>Вигодонабувачі</h4>
		<table class="my-polis-terms_table">
			<tr class="my-polis-terms_tr-h">
				<td>ПІБ</td>
				<td>на Випадок</td>
				<td>Частка, %</td>
				<td>Черговість</td>
				<td>Дата народження</td>
				<td>Адреса реєстрації</td>
			</tr>
			<tr>
				<td>Петренко Олег Миколайович</td>
				<td>Смерть</td>
				<td>100</td>
				<td>1</td>
				<td>07.06.1969</td>
				<td>вул.Малиновського, буд.78-А,<br>кв.67, м.Київ, 04212, Україна</td>
			</tr>
		</table>
	</div>
	<div class="my-polis-terms_item">
		<h4>Страхові випадки</h4>
		<table class="my-polis-terms_table my-polis-terms_table-right my-polis-terms_table-row">
			<tr class="my-polis-terms_tr-h">
				<td>Ризик</td>
				<td>Ризик для</td>
				<td>Страхова сума у валюті страхування</td>
			</tr>

			<tr>
				<td>Дожиття</td>
				<td>Застрахована особа</td>
				<td>3 595,03</td>
			</tr>

			<tr>
				<td>Смерть</td>
				<td>Страхувальник</td>
				<td>3 595,03</td>
			</tr>

			<tr>
				<td>Смерть</td>
				<td>Застрахована особа</td>
				<td>Сума сплачених внесків на момент настання страхового випадку</td>
			</tr>
		</table>
	</div>
</section>