	<section class="my-polis-terms">
		<div>
			<h4 class="my-polis-terms_h4">Строк дії договору</h4>


			<div class="my-polis-terms-pic">
				<hr class="my-polis-terms-line my-polis-terms-line-2">
				<hr class="my-polis-terms-line my-polis-terms-line-3">
				<img src="images/general/icon-flag-blue.svg" alt="" class="my-polis-terms-flag1">
				<img src="images/general/icon-flag-red.svg" alt="" class="my-polis-terms-flag2">

				
				<p class="my-polis-terms-p1">01.07.2008</p>

				<div class="my-polis-terms-p2 my-polis-terms-pic1">
					<p class="my-polis-terms-pic1-p2-1 my-polis-terms-pic1-p2-left">20 р.</p>
					<p class="my-polis-terms-pic1-p2-1 my-polis-terms-pic1-p2-right">20 р.</p>
				</div>

				<div class="my-polis-terms-p2 my-polis-terms-pic1-2">
					<p class="my-polis-terms-pic1-bottom-p">Строк сплати</p>
					<p class="my-polis-terms-pic1-bottom-p">Строк дії</p>	
				</div>
	
				<p class="my-polis-terms-p3">30.06.2028</p>
			</div>


		</div>

		<div>
			<h4 class="my-polis-terms_h4">Страхувальник</h4>
			<table class="my-polis-terms_table">
				<tr class="my-polis-terms_tr-h">
					<td>ПІБ</td>
					<td>Дата народження</td>
					<td>Адреса реєстрації</td>
					<td>Адреса листування</td>
				</tr>
				<tr>
					<td>Іваненко Оксана Ігорівна</td>
					<td>27.03.1980</td>
					<td>Оболонський проспект, буд.4-А,<br>кв.43, м.Київ, 04205, Україна</td>
					<td>Оболонський проспект, буд.4-А,<br>кв.43, м.Київ, 04205, Україна</td>
				</tr>
			</table>
		</div>

		<div>
			<h4 class="my-polis-terms_h4">Застрахований</h4>

			<table class="my-polis-terms_table">
				<tr class="my-polis-terms_tr-h">
					<td>ПІБ</td>
					<td>Дата народження</td>
					<td>Адреса реєстрації</td>
					<td>Адреса листування</td>
				</tr>
				<tr>
					<td>Петренко Олена Олегівна</td>
					<td>10.12.2004</td>
					<td>вул.Малиновського, буд.78-А,<br>кв.67, м.Київ, 04212, Україна</td>
					<td>вул.Малиновського, буд.78-А,<br>кв.67, м.Київ, 04212, Україна</td>
				</tr>
			</table>
		</div>

		<div>
			<h4  class="my-polis-terms_h4">Страховий внесок</h4>

			<div class="my-polis-terms-pic">
				<hr class="my-polis-terms-line my-polis-terms-line-1">
				<div class="my-polis-terms-dot my-polis-terms-dot1"></div>
				<div class="my-polis-terms-dot my-polis-terms-dot2"></div>
				<div class="my-polis-terms-dot my-polis-terms-dot3"></div>

				<img src="images/general/icon-flag-blue.svg" alt="" class="my-polis-terms-flag1">
				<img src="images/general/icon-flag-red.svg" alt="" class="my-polis-terms-flag2">
				<img src="images/general/dashed-arc.svg" alt="" class="my-polis-terms-arc1">
				<img src="images/general/dashed-arc.svg" alt="" class="my-polis-terms-arc2">

				<p class="my-polis-terms-p1">0</p>
				<p class="my-polis-terms-p2 my-polis-terms-p2-1">5 000 UAH</p>
				<p class="my-polis-terms-p2 my-polis-terms-p2-2">Раз в півроку</p>
				<p class="my-polis-terms-p3">1</p>
			</div>

			<div>
				<img src="images/general/" alt="">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
			</div>


		</div>

		<div>
			<h4 class="my-polis-terms_h4">Вигодонабувачі</h4>

			<table class="my-polis-terms_table">
				<tr class="my-polis-terms_tr-h">
					<td>ПІБ</td>
					<td>на Випадок</td>
					<td>Частка, %</td>
					<td>Черговість</td>
					<td>Дата народження</td>
					<td>Адреса реєстрації</td>
				</tr>
				<tr>
					<td>Петренко Олег Миколайович</td>
					<td>Смерть</td>
					<td>100</td>
					<td>1</td>
					<td>07.06.1969</td>
					<td>вул.Малиновського, буд.78-А,<br>кв.67, м.Київ, 04212, Україна</td>
				</tr>
			</table>
		</div>

		<div>
			<h4 class="my-polis-terms_h4">Страхові випадки</h4>

			<table class="my-polis-terms_table my-polis-terms_table-right my-polis-terms_table-row">
				<tr class="my-polis-terms_tr-h">
					<td>Ризик</td>
					<td>Ризик для</td>
					<td>Страхова сума у валюті страхування</td>
				</tr>

				<tr>
					<td>Дожиття</td>
					<td>Застрахована особа</td>
					<td>3 595,03</td>
				</tr>

				<tr>
					<td>Смерть</td>
					<td>Страхувальник</td>
					<td>3 595,03</td>
				</tr>

				<tr>
					<td>Смерть</td>
					<td>Застрахована особа</td>
					<td>Сума сплачених внесків на момент<br>настання страхового випадку</td>
				</tr>
			</table>
		</div>

	</section>