.sign-in-inr {
	text-align: center;
	padding: 50px;
}

.sign-in__header {
	color: #1a2235;
	font-size: 24px;
	font-weight: 500;
	line-height: 40px;
}

.sign-in__form {
	width: 400px;
	margin: 0 auto;
    padding: 30px 0px;
}

.sign-in__form-code {
	display: none;
	position: relative;
}

.sign-form-label {
	position: absolute;
	color: #939497;
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	padding-left: 10px;
}

.icon-password-eye {
	position:absolute;
	right: 55px;
    top: 22px;
    width: 25px;
	height: 17px;
}

.sign-in-form__input {
	width: 322px;
	height: 59px;
	border-radius: 2px;
	border: 1px solid #e7e9eb;
	background-color: #ffffff;
	margin-bottom: 20px;
	font-size: 18px;
    padding: 20px 10px 0;
    margin-bottom: 40px;
}

.sign-in_info-text {
	color: #aeb2bb;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	padding: 20px;
}