<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<div class="sign-in">
		
		<div class="sign-in__header">
			<h1>Авторизація</h1>
		</div>
		
		<div class="sign-in__form">
			<div class="sign-form">
				<label for="" class="sign-form-label">Номер Телефона</label>
				<input type="email" name="email" class="sign-in-form__input">
				<button class="button">Продовжити</button>
			</div>

		</div>

		<div class="sign-in_info-text">Користуватися сервісом мають можливість лише Страхувальники-фізичні особи </div>
	</div>


</body>
</html></html>