<div class="sign-in">
	<div class="sign-in-inr">
			<div class="sign-in__header">
				<h1>Авторизація</h1>
			</div>
			
			<div class="sign-in__form">
				<div class="sign-form">
					<label for="" class="sign-form-label">Номер телефону</label>
					<input type="email" name="email" class="sign-in-form__input">
					<a class="button sgn-btn-continue";">Продовжити</a>
				</div>

				<div class="sign-form sign-in__form-code">
					<label for="" class="sign-form-label">Пароль з СМС повідомлення</label>
					<img src="images/general/icon-hide.svg" class="icon-password-eye" alt="">
					<input type="password" name="password" class="sign-in-form__input">
					<a class="button" href="my-profile.html">Авторизуватися</a>
				</div>

			</div>

			<div class="sign-in_info-text">Користуватися сервісом мають можливість лише Страхувальники-фізичні особи </div>
		</div>
	</div>