/* Icons from directory "" */
.icon-icon-arrow-menu,.icon-icon-arrow-menu\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-icon-arrow-menu-dims{width:7px;height:12px}
.icon-icon-atom,.icon-icon-atom\:regular{background-image:url('icons/icons.svg');background-position:0 -12px;background-repeat:no-repeat}
.icon-icon-atom-dims{width:18px;height:18px}
.icon-icon-chart,.icon-icon-chart\:regular{background-image:url('icons/icons.svg');background-position:0 -30px;background-repeat:no-repeat}
.icon-icon-chart-dims{width:20px;height:18px}
.icon-icon-consultant,.icon-icon-consultant\:regular{background-image:url('icons/icons.svg');background-position:0 -48px;background-repeat:no-repeat}
.icon-icon-consultant-dims{width:20px;height:25px}
.icon-icon-email2,.icon-icon-email2\:regular{background-image:url('icons/icons.svg');background-position:0 -73px;background-repeat:no-repeat}
.icon-icon-email2-dims{width:24px;height:24px}
.icon-icon-facebook,.icon-icon-facebook\:regular{background-image:url('icons/icons.svg');background-position:0 -97px;background-repeat:no-repeat}
.icon-icon-facebook-dims{width:10px;height:19px}
.icon-icon-guest,.icon-icon-guest\:regular{background-image:url('icons/icons.svg');background-position:0 -116px;background-repeat:no-repeat}
.icon-icon-guest-dims{width:40px;height:40px}
.icon-icon-guest2,.icon-icon-guest2\:regular{background-image:url('icons/icons.svg');background-position:0 -156px;background-repeat:no-repeat}
.icon-icon-guest2-dims{width:43px;height:44px}
.icon-icon-home,.icon-icon-home\:regular{background-image:url('icons/icons.svg');background-position:0 -200px;background-repeat:no-repeat}
.icon-icon-home-dims{width:22px;height:19px}
.icon-icon-more,.icon-icon-more\:regular{background-image:url('icons/icons.svg');background-position:0 -219px;background-repeat:no-repeat}
.icon-icon-more-dims{width:20px;height:14px}
.icon-icon-notification,.icon-icon-notification\:regular{background-image:url('icons/icons.svg');background-position:0 -233px;background-repeat:no-repeat}
.icon-icon-notification-dims{width:25px;height:33px}
.icon-icon-search,.icon-icon-search\:regular{background-image:url('icons/icons.svg');background-position:0 -266px;background-repeat:no-repeat}
.icon-icon-search-dims{width:19px;height:19px}
.icon-icon-shield,.icon-icon-shield\:regular{background-image:url('icons/icons.svg');background-position:0 -285px;background-repeat:no-repeat}
.icon-icon-shield-dims{width:18px;height:21px}
.icon-icon-skype,.icon-icon-skype\:regular{background-image:url('icons/icons.svg');background-position:0 -306px;background-repeat:no-repeat}
.icon-icon-skype-dims{width:26px;height:24px}
.icon-icon-smth,.icon-icon-smth\:regular{background-image:url('icons/icons.svg');background-position:0 -330px;background-repeat:no-repeat}
.icon-icon-smth-dims{width:20px;height:20px}
.icon-icon-twitter,.icon-icon-twitter\:regular{background-image:url('icons/icons.svg');background-position:0 -350px;background-repeat:no-repeat}
.icon-icon-twitter-dims{width:21px;height:17px}
.icon-icon-umbrella,.icon-icon-umbrella\:regular{background-image:url('icons/icons.svg');background-position:0 -367px;background-repeat:no-repeat}
.icon-icon-umbrella-dims{width:19px;height:17px}
.icon-icon-youtube,.icon-icon-youtube\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-icon-youtube-dims{width:17px;height:17px}