<div class="profile-settings__item">
	<div class="settings__item">
		<h3 class="profile__item__title">Способи комунікаціїї з СК «ТАС»</h3>
		<form action="" class="communication">
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>Контактний телефон</p>
			</label>
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>Email</p>
			</label>
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>Вайбер (контактний телефон)</p>
			</label>
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>Адреса листування</p>
			</label>
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>Кабiнет клiєнта</p>
			</label>
		</form>
	</div>
</div>
<div class="profile-settings__item">
	<div class="settings__item">
		<h3 class="profile__item__title">Зв’язок із соціальними мережами</h3>
		<form action="" class="communication">
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>Facebook</p>
			</label>
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>LinkedIn</p>
			</label>
		</form>
	</div>
	<div class="settings__item">
		<h3 class="profile__item__title">Рекомендації та реклама</h3>
		<form action="" class="communication">
			<label>
				<input type="checkbox" name="comunication"><i></i>
				<p>Персональні та акційні пропозиції</p>
			</label>
		</form>
	</div>
</div>
<div class="profile-settings__item">
	<div class="settings__item">
		<h3 class="profile__item__title">Мова</h3>
		<a href="#" class="settings__item__lang settings__item__lang_active">ua</a>
		<a href="#" class="settings__item__lang">ru</a>
		<a href="#" class="settings__item__lang">en</a>
	</div>
</div>