.profile_user_photo__box {
    background: url('../pic/forest-header.png') no-repeat center top;
    height: 230px;
    line-height: 230px;
    text-align: center;
}

.current__profile_photo {
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.line {
    position: absolute;
    height: 0px;
    border: 2px solid white;
    z-index: 1;
}

.line-1 {
    top: 49px;
    right: 31px;
    width: 162px;
    transform: rotate(-60deg);
}

.line-2 {
    top: 47px;
    right: -52px;
    width: 164px;
    transform: rotate(60deg);
    z-index: 0;
}

.line-3 {
    bottom: 12px;
    right: -9px;
    width: 162px;
}